
<mat-toolbar>
    <ng-container *ngIf="!isAdmin; else viewAdmin">
        <span><img src="/assets/images/LogoAcid.png" class="img-header">Acid Labs Test</span>
        <span class="spacer"></span>
        <!--<div>
            <a mat-button (click)="logout()">Logout</a>
        </div>-->
    </ng-container>
</mat-toolbar>

<ng-template #viewAdmin>
    <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
</ng-template>