<div class="container">
    <mat-card class="card-space">
        <mat-toolbar class="toolbar-title">
            <h1>User Information</h1>
        </mat-toolbar>
        <form [formGroup]="form">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width-form">
                        <mat-label>RUT</mat-label>
                        <input [(ngModel)]="currentUser.rut" matInput autocomplete="off" formControlName="rut" readonly>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="/assets/images/work.jpg" class="image-new-user">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width-form">
                        <mat-label>FirstName</mat-label>
                        <input [(ngModel)]="currentUser.firstName" matInput autocomplete="off" formControlName="firstName" readonly>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width-form">
                        <mat-label>LastName</mat-label>
                        <input [(ngModel)]="currentUser.lastName" matInput autocomplete="off" formControlName="lastName" readonly>
                      </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="width-form">
                        <mat-label>Email</mat-label>
                        <input [(ngModel)]="currentUser.email" matInput autocomplete="off" formControlName="email" readonly>
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button [routerLink]="['/users']" mat-raised-button class="return-button">Return</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>