<div class="login-form">
    <mat-card>
        <mat-card-content>
            <div><img src="/assets/images/EmptyLogo.png" class="login-icon"></div>
            <h1>Sign In</h1>
            <mat-form-field class="full-width-input">
                <input text="text" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="full-width-input separator">
                <input text="password" matInput placeholder="Password">
            </mat-form-field>
            <button type="submit" mat-raised-button class="login-button" onmouseover="this.style.color='white'" onmouseleave="this.style.color='#551f8d'">Sign In</button>
            <div class="separator-link"><a href="" class="link-dynamic">Forgot your password?</a></div>
            <div class="separator-link"><a href="" class="link-dynamic">Sign Up</a></div>
        </mat-card-content>
    </mat-card>
</div>